backups/
final/
katz_backoff_model/
old/
performances/
Data_Product/rsconnect/
Detailed_Documentation/
Milestone_Report/
Presentation/
.Rapp.history
.Rhistory
Coursera-SwiftKey.zip
training_US.rda
testing_US.rda