backups/
final/
katz_backoff_model/
old/
performances/
Data_Product/rsconnect/
Detailed_Documentation/capstone_project_cache/
Detailed_Documentation/capstone_project.html
Detailed_Documentation/capstone_project.pdf
Milestone_Report/Milestone_Report_cache/
Milestone_Report/rsconnect/
Milestone_Report/Milestone_Report.html
.Rapp.history
.Rhistory
Coursera-SwiftKey.zip
training_US.rda
testing_US.rda